[Unit]
Description=brrewery package management API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/brrewery serve
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths=/var/lib/brrewery /var/log/brrewery /usr/local/bin /etc/systemd/system /var/lib /tmp /home
PrivateTmp=true

[Install]
WantedBy=multi-user.target
